.main {
  min-height: 100vh;
  background: #111;
}

.main::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translate(-50%, -50%);

  height: 500px;
  width: 500px;

  background: radial-gradient(
    circle,
    rgba(122, 43, 43, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  filter: blur(40px);

  border-radius: 999px;
  /* z-index: 1; */
}
.main::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0%;
  transform: translate(50%, -50%);

  height: 500px;
  width: 500px;

  background: radial-gradient(
    circle,
    rgba(122, 43, 43, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  filter: blur(40px);

  border-radius: 999px;
  /* z-index: 1; */
}
