.main {
  position: relative;
  min-height: 100vh;
  background: #111;
}

.main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 500px;
  width: 500px;

  background: radial-gradient(
    circle,
    rgba(122, 43, 43, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  filter: blur(40px);

  border-radius: 999px;
  z-index: 0;
}

.main h1 {
  z-index: 1;
}
